# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
node_modules/
.venv/
.venv/*
.env
/.pnp
.pnp.js

/backend/venv/
/backend/.env
/backend/tcc1-155fa-firebase-admin.json

/firmware/TCC.ino/TCC_2_sensores/*
/firmware/TCC.ino/TCC_2_sensores/

/frontend/node_modules/

# testing
/coverage

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# production
/dist

# misc
.DS_Store
/.nx
/.nx/cache
/.vscode/*
!/.vscode/extensions.json
.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*

# Optional eslint cache
.eslintcache

# IA
.codex
RESPOSTA_1_CODEX.md
credentials.json